body {
    background: #30C5FF;
    background-image: url('vint.png');
    background-position: top;
}

h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

h2 {
  color: white;
  font-style: italic;
  text-align: center;
}

img {
  width: 100px;
}

#card border-dark mb-3 {
  text-align: center;
}
