body {
    background: #30C5FF;
    background-image: url('vint.png');
    background-position: top;
    color: white;
}

h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

h2 {
  color: black;
  font-style: italic;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

h4 {
  color: blue;
  text-align: center;
}

h5 {
  color: blue;
  text-align: center;
}

h6 {
  color: white;
}

img {
  height: 100px;
}

.card border-dark mb-3 {
  text-align: center;
}


.container-2 {
  margin-top: 50px;
}



.card-header {
  text-align: center;
  font-size: 30px;
}

.new-comedian {
  text-align: center;
  font-size: 30px;
}


.jumbotron-fluid {
  text-align: center;
  background-color: #EEF0F0;
  border-radius: 5%;
  opacity: 0.7;
}

.title {
  font-size: 75px;
}

.card-body {
  background-color: grey;
  border-radius: 5%;
}

.card {
  border-radius: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

li {
list-style-type:none;
}
