body {
    background: #30C5FF;
    background-image: url('vint.png');
    background-position: top;
    color: white;
}

h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

h2 {
  color: Black;
  font-style: italic;
  text-align: center;
}

h3 {
  color: white;
}

h4 {
  color: blue;
}

img {
  height: 100px;
}

.card border-dark mb-3 {
  text-align: center;
}

.container-2 {
  margin-top: 50px;
}

.card-header {
  text-align: center;
  font-size: 30px;
}

.new-comedian {
  text-align: center;
  font-size: 30px;
}

.jumbotron-fluid {
  color: blue;
  text-align: center;
  opacity: 0.5;
}

.title {
  font-size: 75px;
}

.card-body {
  background-color: grey;
  border-radius: 10%;
}

.card {
  border-radius: 10%;
}
